<!DOCTYPE html>
<html>
  <head>
    <title>Resultado de pago</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/_header %>
  </head>
  <% include partials/_navbar %>
  <section class="container" >
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1>Resultado de pago</h1>

        <% if(result == '00'){ %>
          <p>Estado:  <%= status %></p>
          <p>Monto: S/.  <%= (monto/100).toFixed(2) %></p>
          <p>ID Orden:  <%= order %></p>
    
        <% } else{ %>
          <p>Estado:  <%= status %></p>
          <p>Codigo: <%= result %></p>
        <% } %>
          <form action="/" method="get">
            <button class="btn btn-primary">
                Volver a probar
            </button>
          </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </section>
  <% include partials/_footer %>
</html>
